@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #1e2227;
    color: white;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e2227;
    z-index: 1;
}

.logo {
    width: 120px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    filter: drop-shadow(1px 1px 2px transparent);
}

.logo:hover {
    filter: drop-shadow(1px 1px 3px white);
    transform: scale(1.2);
}

.nav__icons img {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.col-1,
.col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-1 {
    padding-left: 8%;
}

.col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.col-1 p {
    text-align: left;
    line-height: 2;
    width: 25rem;
    color: rgb(163, 160, 160);
}

.col-1 span {
    color: white;
}

.col-1 h2 {
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
    color: #ccc;
}

.col-1 .copy {
    position: absolute;
    bottom: 0;
    width: 100vh;
}

.col-2 {
    background: red;
    padding-top: 8%;
    position: relative;
}

.col-2 h2 {
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 130px;
    opacity: .3;
    transition: opacity .5s ease-in-out;
}

.col-2 h2:hover {
    opacity: 1;
}

button {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background .5s ease-out;
}

button:hover {
    background: #aa0505;
}

.feature__img {
    width: 100%;
    text-align: center;
}

.feature__img img {
    width: 80%;
    cursor: pointer;
    transform: rotate(-20deg);
    transition: transform .5s ease-in-out;
}

.feature__img img:hover {
    transform: scale(1.3) rotate(-20deg);
}

.small__img-row {
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;
}

.small-img {
    width: 80px;
    height: 80px;
    background: #ccc;
}

.small-img img {
    width: 120px;
    transform: translate(-50px, 20px) rotate(-20deg);
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.small-img img:hover {
    transform: scale(1.4) rotate(0deg);
}

.small-img:nth-child(1) {
    background: #91ffdd;
}

.small-img:nth-child(2) {
    background: #9dff90;
}

.small-img:nth-child(3) {
    background: #b9c8ff;
}


.small-img:nth-child(4) {
    background: #ff6767;
}