@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

/* font-family: 'Merienda One', cursive;
font-family: 'Nunito', sans-serif; */

:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 1rem;
}

.heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    transition: background .5s ease-in-out;
}

.btn:hover {
    background: var(--black);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: var(--box-shadow);
    border: none;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}

.logo img {
    height: 4.5rem;
    transition: transform 1s ease-in-out;
}

.logo img:hover {
    transform: scale(1.5);
}

.navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.navbar a:hover {
    border-right: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    color: var(--main-color);
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.home-bg {
    background: linear-gradient(90deg, var(--white), transparent 70%), url(../adress/img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home {
    min-height: 70rem;
    display: flex;
    align-items: center;
}

.home-bg .home .content {
    width: 50rem;
    text-align: center;
}

.home-bg .home .content h3 {
    font-size: 6rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.home-bg .home .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.about .image {
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 40rem;
}

.about .content h3 {
    font-size: 4.5rem;
    font-family: 'Merienda One', cursive;
    color: var(--black);
    padding-bottom: 1rem;
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
}

.facility .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.facility .box-container .box {
    text-align: center;
}

.facility .box-container .box img {
    height: 10rem;
    margin-bottom: .5rem;
}

.facility .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
}

.facility .box-container .box p {
    line-height: 2;
    font-size: 1.4rem;
    color: var(--light-color);
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.menu .box-container .box {
    text-align: center;
}

.menu .box-container .box img {
    width: 100%;
    margin-bottom: 1rem;
    transition: transform 1.5s ease-in-out;
}

.menu .box-container .box img:hover {
    transform: rotate(-360deg) scale(1.2);
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 2rem;
    justify-content: center;
}

.gallery .box-container img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
}

.team .box-container .box {
    text-align: center;
}

.team .box-container .box img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.team .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image {
    flex: 1 1 50rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 30rem;
    border: .2rem solid (var(--black));
    padding: 2rem;
    text-align: center;
}

.contact .row form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.contact .row form .box {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--light-color);
    border: .2rem solid (var(--black));
    border-radius: 10px;
    margin: 1rem 0;
    outline: 1px solid transparent;
    transition: outline .5s ease-in-out;
}

.contact .row form .box:hover {
    outline: 1px solid var(--main-color);
}

.contact .row form .box:focus {
    outline: 1px solid var(--main-color);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.footer .box-container .box {
    text-align: center;
}

.footer .box-container .box i {
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white);
    margin-bottom: 1rem;
    transition: background-color .5s ease-in-out;
}

.footer .box-container .box i:hover {
    background-color: var(--black);
}

.footer .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

address {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
    text-transform: none;
}

.footer .box-container .box p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
    text-transform: none;
}

.footer .box-container .box a {
    line-height: 1;
    font-size: 1.5rem;
    color: var(--light-color);
    text-transform: none;
}

.footer .box-container .box a:hover {
    color: var(--black);
}

.footer .box-container .box span {
    font-size: 1rem;
}

.footer .credit {
    text-align: center;
    text-transform: none;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: .2rem solid (var(--black));
    font-size: 2rem;
    color: var(--black);
}

.footer .credit span a {
    color: var(--main-color);
    transition: color .5s ease-out;
}

.footer .credit span a:hover {
    color: var(--black);
}