@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    transition: color .5s ease-in-out;
}

a:hover {
    color: #1db954;
}

.footer__info-item a:hover,
.footer__rights a:hover {
    color: white;
}

.btn-primary:hover {
    background-color: #36be66;
}

#header {
    display: flex;
    background: rgba(0, 0, 0, .6);
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    height: 40px;
    width: auto;
}

.navbar__container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.navbar__items {
    display: flex;
    list-style: none;
    letter-spacing: 1px;
    font-weight: 600;
}

.navbar__items-item {
    padding: 0 20px;
}

.navbar__items-item:nth-child(3) {
    border-right: 1px solid white;
}

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../adress/img/showcase.webp);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: color;
}

.showcase__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase__container h1 {
    font-size: 5rem;
}

.showcase__container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

.btn-primary {
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
}

#footer {
    background: black;
    color: white;
    padding: 80px 0;
}

.footer__content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer__menu {
    margin: 0 60px;
    list-style: none;
}

.footer__menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: .8rem;
}

.footer__menu-item {
    margin: 25px 0;
}

.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: .75rem;
    padding-top: 50px;
}

.footer__info-item a {
    color: #919496
}

.footer__info .footer__info-items {
    display: flex;
    list-style: none;
}


.footer__info .footer__info-items .footer__info-item {
    margin: 0 10px;
}

.footer__info .footer__rights .footer-country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer__info .footer__rights .footer-country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

.footer__rights a {
    color: #919496;
}